#home_container{
  display:grid;
  margin:5rem;
  grid-template-columns: 1fr 1fr;
  gap:2rem;
}

.left_home_containers{
  margin:1rem;
}

#Products_top_container{
  display:grid;
  grid-template-columns: 4fr 7fr;
}

#Products_search_bar{
  display:flex;
  margin: 1rem;
  gap:1rem;
}

#Products_dropdowns{
  display:grid;
  grid-template-columns:1fr 1fr;
  margin:1rem;
  gap:2rem;
}

.Product_container{
  margin:1rem;
}

#Product_display{
  height:460px;
  overflow-y:scroll;
}

#Cart_top_container{
  display:grid;
  grid-template-columns: 4fr 7fr;
}

#Cart_control_bar{
  display:flex;
  margin: 1rem;
  gap:1rem;
}

.Cart_container{
  margin:1rem;
}

#Cart_display{
  height:460px;
  overflow-y:scroll;
}

.after_add_to_cart{
  display: flex;
}

.quantity{
  display:flex;
  gap:1rem;
  margin-top:0.8rem;
  margin-left:1rem;
}